.w-full
  - if notice.present?
    %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block= notice
  - content_for :title, "Clock lists"
  .flex.justify-between.items-center
    %h1.font-bold.text-4xl Clock lists
    = link_to "New clock list", new_clock_list_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"
  #clock_lists.min-w-full
    - @clock_lists.each do |clock_list|
      = render clock_list
      %p
        = link_to "Show this clock list", clock_list, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
